body{
    margin: center;
    font-family: 'Segoe UI';
}


#voltar{
    background: rgb(226, 218, 218);
    padding: 10px;
    font-weight: bold;
    
    
}
a{
    text-decoration: none;
    color:  #aa026a;
    font-size: 18px;
 
}


#corpo{
    width: 50% ;
    margin-top: 5%;
    border: 1px solid rgb(134, 130, 130);
    text-align: center;
    
}
#Titulo{
    padding: 1%;
    text-align: center;
    background:  #07aa9c;
    text-transform: uppercase;
    font-family: 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-weight: bold;
}

#listar_tit{
    text-transform: none;
    font-family: 'Segoe UI';
    color: #aa026a;
    font-size: large;
    padding: 1px;
    text-align: center;
}

form{
    margin: auto;
    margin-top: 3%;
    border: 2px solid rgb(165, 164, 164);
    width: 40%;
    padding: 2%;
    text-align: right;
}

.labels{
    width: 20%;
    text-align: right;
    margin-top: 1%;
    margin-right: 2%;
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    color: rgb(78, 75, 75);
    font-family: 'Segoe UI';
}

input{
    margin-right: 8%;
    margin-top: 2%;
    font-size: 16px;
    line-height: 30px;
    width: 70%;
    border: 1px solid #ccc;
    display: inline-block;
    
}

input[type="submit"], button{
    cursor: pointer;
    background:  #aa026a;
    color: #fff;
    font-family: 'Segoe UI';
    font-size: 15px;
    display: inline-block;
    height: 50px;
    width: 100px;
    margin-right: 0%;
}

input[type="submit"]:hover{
    
    background:  rgb(226, 218, 218);
    border: #aa026a;
    font-weight: bold;
    color:  #07aa9c;
    border: 1px solid  #07aa9c;
}

button{
    cursor: pointer;
    background: #aa026a;
    color: #fff;
    display: inline-block;
    height: 50px;
    width: 100px;
    border: #fff 1px solid;
    font-family: 'Segoe UI';
    font-size: 15px;
    margin-right: 8%;
}

button:hover{
   background: rgb(226, 218, 218);
    border: #d1bdca;
    font-weight: bold;
    color: #07aa9c;
    border: 1px solid  #07aa9c;
}
table{
    margin: auto;
}

thead tr th{
    background: #aa026a;
    padding: 5px 8px;
    height: 30px;
    width: 100px;
    font-size: 20rgba(128, 128, 128, 0.712);px;
    color: #fff;
}
.lineA{
    background: rgba(128, 128, 128, 0.26);
    padding: 5px 8px;
    height: 30px;
    width: 100px;
    font-size: 20px;
    color: #000;
}

.lineB{
    background: rgba(128, 128, 128, 0.075);
    padding: 5px 8px;
    height: 30px;
    width: 100px;
    font-size: 20px;
    color: #000;
}
